tags
.vs/
doxygen/
deps
compile_commands.json
compile_flags.txt
scripts/Compile_Test/
scripts/Models
scripts/valgrind.txt
.clangd/
*.o
*.jpeg
*.jpg
*.png
*.tga
*.bmp
*.gif
ldtest
asmtest
lagrange
newton
triangulate
*.a
*.so
mesh_query
testobj/
dam
dasfiles/
.cache
gcc.gz
hf_comp
objdump
out
panzer3.das
build
obj
*.make
Makefile
*.vcxproj*
*.sln
